@import '../../styles/variables';

.screen-guides {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 256;

  width: $screenWidth - 2;
  height: $screenHeight - 2;

  margin-left: -400px;

  border: 1px dotted $white;
}