@import 'variables';

@import 'header';
@import 'footer';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 100%;
  padding-bottom: 32px;
  background-color: $darkColor;
  font-family: $ffSansSerif;
  font-size: 16pt;
  color: $white;
}

section {
  margin-top: 24px;

  &.fixed-height {
    height: 342px;
  }
}

.centered-content {
  position: relative;
  margin: 0 auto;
  width: $screenWidth;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: $columnWidth;

  &.left {
    padding: 0 16px 0 32px;
  }

  &.right {
    padding: 0 32px 0 16px ;
  }

  &.fixed {
    height: 342px;
    overflow: scroll;
  }

  .column-content {
    &.aligned-bottom {
      position: absolute;
      bottom: 0;
    }
  }

}

p {
  width: $columnContentWidth;
  margin: 0 0 24px 0;
  line-height: 1.8;
}

ul, ol {
  width: $columnContentWidth;
  margin: 0;
  padding-left: 0;
  list-style: none;

  li {
    border-bottom: 2px solid $primaryColor;

    .li-label {
      padding: 24px 0;
    }

    .li-btn {
      display: block;
      width: 100%;
      padding: 24px 0;
      border: 0;
      background-color: transparent;
      font-size: 16pt;
      text-align: left;
      color: $white;
      line-height: 1;
      cursor: pointer;

      &:active {
        background: $primaryColor;
      }

      &:after {
        content: url(../assets/images/arrow-right.svg);
        width: 16px;
        height: 26px;
        float: right;
      }
    }
  }
}

:focus {
  border-color: $secondaryColor;
  box-shadow: 0 0 0 4px $secondaryColor;
  outline: 0 !important;
}