$ffSansSerif: 'Kohinoor Devanagari', Helvetica, sans-serif;
$ffSerif: serif;

$screenWidth: 800px;
$screenHeight: 480px;

$columnWidth: 400px;
$columnContentWidth: 368px;

$white: #fafafa;
$lightGray: #dddddd;
$darkColor: #001629;
$primaryColor: #03c74b;
$secondaryColor: #ff6924;