$ffSansSerif: 'Kohinoor Devanagari', Helvetica, sans-serif;
$ffSerif: serif;

$screenWidth: 800px;
$screenHeight: 480px;

$columnWidth: 400px;
$columnContentWidth: 352px;

$white: #fafafa;
$lightGray: #dddddd;
$darkColor: #000816;
$primaryColor: #004277;
$secondaryColor: #a9252a;