$ffSansSerif: 'Kohinoor Devanagari', Helvetica, sans-serif;
$ffSerif: serif;

$screenWidth: 800px;
$screenHeight: 480px;

$columnWidth: 400px;
$columnContentWidth: 368px;

$white: #fafafa;
$lightGray: #dddddd;

$darkBlue: #001d37;
$green: #03c74b;
$orange: #ff6924;