@import '../../styles/variables';

.slider {
  position: relative;
  display: block;
  min-height: 96px;
  padding: 24px 0;

  .slider-handle {
    position: absolute;
    z-index: 1;

    display: inline-block;
    width: 48px;
    height: 48px;

    background-color: $primaryColor;

    cursor: pointer;
  }

  .slider-track {
    position: absolute;
    left: 12px;
    top: 44px;
    z-index: 0;

    display: inline-block;
    width: 328px;
    height: 8px;

    background-color: $lightGray;
  }
}